/* RESET */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

/* BOX MODEL */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* BODY */
body {
  margin: 0;
}

/* HEADINGS */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.5em;
  margin: 0.75em 0;
}

/* Lists (including ol, ul, and dl) */
ul,
ol,
dl {
  margin: 0;
  padding: 0;
}

/* LINKS */
a {
  text-decoration: none;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}
